<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Forgot Password - FinOS AI</title>


<link rel="stylesheet"
      href="/css/dashboard.css">

</head>

<body>

<div class="main-content">


<h1>Forgot Password</h1>

<div class="card">

    <h3>Reset Your Password</h3>

    <br>

    <input
            id="email"
            type="email"
            placeholder="Enter your email">

    <br><br>

    <button onclick="sendResetEmail()">
        Send Reset Link
    </button>

    <br><br>

    <p id="message"></p>

</div>


</div>

<script src="/js/forgot-password.js"></script>

</body>
</html>
