<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>FinOS AI Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="login-container">

    <div class="login-card">

        <h1>FinOS AI</h1>

        <p class="subtitle">
            Smart Personal Finance Management
        </p>

        <input
                type="email"
                id="email"
                placeholder="Enter Email">

        <input
                type="password"
                id="password"
                placeholder="Enter Password">

        <button onclick="login()">
            Login
        </button>

        <br><br>

        <a href="/forgot-password-page">
            Forgot Password?
        </a>

        <br><br>

        <a href="/register">
            Create Account
        </a>

    </div>

</div>

<script>

async function login() {

    const email =
        document.getElementById("email").value;

    const password =
        document.getElementById("password").value;

    const response =
        await fetch(
            "/api/users/login",
            {
                method: "POST",

                headers: {
                    "Content-Type":
                        "application/json"
                },

                body: JSON.stringify({
                    email: email,
                    password: password
                })
            }
        );

    if (response.ok) {

        const data =
            await response.json();

        localStorage.setItem(
            "token",
            data.token
        );

        window.location.href =
            "/dashboard-page";

    } else {

        alert(
            "Invalid Email or Password"
        );

    }
}

</script>

</body>
</html>