<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Reset Password - FinOS AI</title>


<link rel="stylesheet"
      href="/css/dashboard.css">


</head>

<body>

<div class="main-content">


<h1>Reset Password</h1>

<div class="card">

    <h3>Create New Password</h3>

    <br>

    <input
            id="newPassword"
            type="password"
            placeholder="New Password">

    <br><br>

    <button onclick="resetPassword()">
        Reset Password
    </button>

    <br><br>

    <p id="message"></p>

</div>


</div>

<script src="/js/reset-password.js"></script>

</body>
</html>
